/* ---global styles--- */
:root {
	--hover-yellow: #fcbd20;
	--dark-text: #313131;
	--light: wheat;
	--shadow: 0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text);
}

html {
	/* Converts root from 16px to 10px */
	font-size: 62.5%;
}

body {
	/* 1rem = 10px => sets body default to 16px for legibility */
	font-family: "Pacifico";
	font-size: 1.6rem;
	color: var(--light) !important;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 7rem;
}

.container-fluid {
	background: linear-gradient(45deg, rgb(0, 0, 0), rgba(26, 26, 26, 0.7)),
		url(../images/finance-bg.webp);
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 100vh;
	padding: 5rem;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	gap: 2rem;
}

.row {
	width: 100%;
	margin: 0;
}

.hero-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 2rem;
	padding: 3rem;
}
.hero-text {
	text-shadow: var(--shadow);
}
.hero-text:hover {
	color: var(--hover-yellow);
	cursor: pointer;
	transition: all 0.25s;
}

.hero-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 3rem;
}
#console {
	background: white;
	box-shadow: 0 0 15px var(--hover-yellow);
	border-radius: 5px;
	padding-bottom: 2rem;
	flex-basis: 70%;
}

@media screen and (max-width: 991px) {
	.hero-left,
	.hero-right {
		justify-content: center;
	}

	h1 {
		font-size: 5rem;
	}

	#console {
		flex-basis: auto;
	}
}
