/* ---global styles--- */
:root {
	--light: wheat;
	--shadow: 0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text),
		0 0 0.1em var(--dark-text), 0 0 0.1em var(--dark-text);
}

html {
	/* Converts root from 16px to 10px */
	font-size: 62.5%;
}

body {
	/* 1rem = 10px => sets body default to 16px for legibility */
	font-family: "Pacifico";
	font-size: 1.6rem;
	color: var(--light) !important;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 5rem;
}

.jumbotron {
	background: url(../images/travel-california-bg-img.svg);
	background-size: cover;
	background-repeat: no-repeat;

	min-height: 100vh;
	padding: 4rem;

	display: flex;
	align-items: center;
	text-align: center;
}

#console {
	background: white;
	box-shadow: var(--shadow);
	border-radius: 5px;
	max-width: 100%;
	padding-bottom: 2.5rem;
}

.hero-right {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.hero-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
	margin-bottom: 2rem;
}

.hero-text {
	text-shadow: var(--shadow);
}
